<div class="drawer-content">
  <div class="drawer-inner-container">
    <div class="drawer-header-row">
      <span class="drawer-title">Details for: <b>{{ issueKey }}</b></span>
      <button mat-icon-button (click)="close()" aria-label="Close drawer">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="drawer-body">
      <ng-container *ngIf="loading">
        <div class="drawer-loader">
          <mat-spinner diameter="32"></mat-spinner>
        </div>
      </ng-container>
      <ng-container *ngIf="!loading">
  <div class="steps-title">Steps to Reproduce</div>
        <div class="steps-content" *ngIf="steps; else noSteps">
          <pre class="steps-pre">{{ steps }}</pre>
        </div>
        <ng-template #noSteps>
          <div class="steps-empty">No steps found for this issue.</div>
        </ng-template>
        <!--render steps response from stream api-->

        <!-- Orchestrator Response Section -->
        <!-- Debug: orchestratorResponse.length = {{ orchestratorResponse.length }}, orchestratorLoading = {{ orchestratorLoading }} -->
        <div class="orchestrator-response" *ngIf="orchestratorResponse.length > 0 || orchestratorLoading">
          <div class="response-title">Orchestrator Response</div>

          <div class="response-loader" *ngIf="orchestratorLoading">
            <mat-spinner diameter="24"></mat-spinner>
            <span class="loader-text">Processing automation steps...</span>
          </div>

          <div class="response-list" *ngIf="orchestratorResponse.length > 0">
            <p>{{ orchestratorResponse.length }} responses</p>
            <span *ngFor="let response of orchestratorResponse; let i = index" class="response-item">
              <span class="response-text">{{ response }}</span>
            </span>
            <!-- <mat-list>
              <mat-list-item *ngFor="let response of orchestratorResponse; let i = index">
                <mat-icon mat-list-icon>{{ i === orchestratorResponse.length - 1 && orchestratorLoading ? 'schedule' : 'check_circle' }}</mat-icon>
                <div mat-line>{{ response }}</div>
              </mat-list-item>
            </mat-list> -->
          </div>
        </div>
        <button
          mat-flat-button
          color="primary"
          class="auto-repro-btn"
          (click)="showStepsAlert()"
          *ngIf="steps"
          [disabled]="orchestratorLoading"
        >
          {{ orchestratorLoading ? 'Processing...' : 'Auto Reproduce' }}
        </button>

        <!-- Test Button -->
        <button
          mat-flat-button
          color="accent"
          (click)="testOrchestratorResponse()"
          style="margin-top: 10px; width: 100%;"
        >
          Test Response Rendering
        </button>
      </ng-container>
    </div>
  </div>
</div>
